
.gallery{
    
    display: flex;
    justify-content: space-evenly;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
/* .project{
    width: 500px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
} */

.bcProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.bcProject:hover{
    transform: scale(1.1);
    z-index:2;
}
.lhProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.lhProject:hover{
    transform: scale(1.1);
    z-index:2;
}
.ntProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.ntProject:hover{
    transform: scale(1.1);
    z-index:2;
}
.ntProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.ntProject:hover{
    transform: scale(1.1);
    z-index:2;
}

.dsProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.dsProject:hover{
    transform: scale(1.1);
    z-index:2;
}
.qgProject{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.qgProject:hover{
    transform: scale(1.1);
    z-index:2;
}
.card{
    background-color: grey;
}