
.gallery{
    
    display: flex;
    justify-content: space-evenly;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}


#design{
    width: 400px;
    height: 300px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
#design:hover{
    transform: scale(1.1);
    z-index:2;
}

.card{
    background-color: grey;
}
  
  /* If screen size is 800px wide, or less */
  @media screen and (max-width: 800px) {
    div.gallery {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 800px) {
    div.projects {
      display: flex;
      flex-wrap: wrap;
    }
  }